html, body {
    background-color: floralwhite;
    height: 100%;
    margin: 0;
    padding: 0;
}
#b {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 2px solid black;
    padding: 10px;
    background-color: beige;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}
a {
    text-decoration: none;
    font-family: arial;
    color: cadetblue;
}
h3 {
    font-family: arial;
    text-align: center;
}
p {
    font-family: arial;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: bisque;
    color: darkslategrey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    display: block;
    max-width: 50vh;
    max-height: 99vh;
    width: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-top: 0px;
    border: 1px solid black;
}